.devcontainer
.git
.github
.vscode
build/config
build/container
build/scripts
!build/scripts/aws/lambda/extension.zip
build/terraform
examples
.dockerignore
.gitignore
.golangci.yml
CODEOWNERS
**/*.md
